<%= form_with(model:@record, local:true) do |f| %>
  
  <div class="content">
    <%= f.label :content %>
    <br>
    <%= f.text_field :content %>
  </div>
  
  <div class="date">
    <%= f.label :start_time %>
    <br>
    <%= f.date_select :start_time %>
  </div>

  <br>

  <div class="submit">
    <%= f.submit "submit" %>
  </div>
  
  <p id="notice"><%= notice %></p>

<% end %>